<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{post_content}}</p>
  <p><b>{{user.name}}</b> ~ <i>{{format_date date_created}}</i></p>

  <button class="btn btn-primary btn-comment">Comment</button>
  </p>
</div>